<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maya</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <button class="navigation">
                    <a href="{{ url_for('index') }}">Home</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('visualiser') }}">Visuliazer (Alpha)</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('about') }}">About</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('help') }}">Help</a>
                </button>
                <button class="navigation">
                    <a href="https://t.me/maya_sex_therapist_bot" target="_blank">Telegram</a>
                </button>
            </nav>
        </header>
        <div id="about-container">
            <h1>About Maya</h1>
            <p>Welcome to Maya, your virtual sex therapist. We are here to provide a safe and confidential space for you to ask any questions related to your sexual health and well-being.</p>
            <p>Maya is designed to offer information and support in a non-judgmental manner. Feel free to type your questions or concerns in the chat, and Maya will do its best to provide helpful and informative responses.</p>
            <p>Our mission is to promote sexual health education and provide a resource that is easily accessible to everyone. If you have any feedback or suggestions, please don't hesitate to reach out.</p>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>