<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maya</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <button class="navigation">
                    <a href="{{ url_for('index') }}">Майя Текст</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('visualiser') }}">Майя Голос</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('about') }}">Про нас</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('help') }}">Контакти</a>
                </button>
                <button class="navigation">
                    <a href="https://t.me/maya_sex_therapist_bot" target="_blank">Телеграм</a>
                </button>
            </nav>
        </header>
        <div id="about-container">
            <h1>Про Майя</h1>
            <p>Ласкаво просимо до Майї, Вашого віртуального секс-терапевта. Ми тут, щоб забезпечити безпечний і конфіденційний простір, де можна поставити будь-які питання, пов'язані з Вашим сексуальним здоров'ям і благополуччям.</p>
            <p>Майя створена для того, щоб надавати інформацію та підтримку в неупередженому стилі. Не соромтеся писати свої запитання або проблеми в чаті, і Майя зробить все можливе, щоб надати корисні та інформативні відповіді.</p>
            <p>Наша місія - сприяти освіті з питань сексуального здоров'я та надавати ресурс, який є легкодоступним для всіх. Якщо у Вас є відгуки чи пропозиції, будь ласка, не соромтеся звертатися до нас.</p>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>