<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maya</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <button class="navigation">
                    <a href="{{ url_for('index') }}">Майя</a>
                </button>
                <!-- <button class="navigation">
                    <a href="{{ url_for('visualiser') }}">Майя Голос</a>
                </button> -->
                <button class="navigation">
                    <a href="{{ url_for('about') }}">Про нас</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('help') }}">Контакти</a>
                </button>
                <button class="navigation">
                    <a href="https://t.me/maya_sex_therapist_bot" target="_blank">Телеграм</a>
                </button>
            </nav>
        </header>
        <div id="help-container">
            <h1>Контактна інформація</h1>
            <p>Якщо проблема не зникає або у Вас є конкретне технічне запитання, будь ласка, зв'яжіться з нашою командою технічної підтримки електронною поштою за адресою <a id="mail" href="mailto:marksadpepe@gmail.com">marksadpepe@gmail.com</a>.</p>
            <p>Ми цінуємо Ваше розуміння і терпіння, оскільки ми працюємо над тим, щоб оперативно вирішувати будь-які технічні проблеми.</p>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>