<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maya</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <button class="navigation">
                    <a href="{{ url_for('index') }}">Home</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('visualiser') }}">Visuliazer (Alpha)</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('about') }}">About</a>
                </button>
                <button class="navigation">
                    <a href="{{ url_for('help') }}">Help</a>
                </button>
                <button class="navigation">
                    <a href="https://t.me/maya_sex_therapist_bot" target="_blank">Telegram</a>
                </button>
            </nav>
        </header>
        <div id="help-container">
            <h1>Help Support</h1>
            <p>If your issue persists or if you have a specific technical inquiry, please contact our technical support team via email at <a id="mail" href="mailto:marksadpepe@gmail.com">marksadpepe@gmail.com</a>.</p>
            <p>We appreciate your understanding and patience as we work to resolve any technical issues promptly.</p>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>